
.addStudent{
    width:fit-content;
    height:fit-content;
    box-shadow: 2px 4px 4px 2px rgb(74, 74, 74,0.5);
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    border-radius: 1rem;
    align-items:center;
    justify-content: center;
    padding: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 1rem 0 0.5rem 0.5rem;
}

.formheader{
    display: flex;
    justify-content: space-between;
}
.formheader h2{
    display: inline;
}