.uploadqpform{
    width:24%;
    height:300px;
    box-shadow: 2px 4px 4px 2px rgb(74, 74, 74,0.5);
    display:flex;
    margin:auto;
    border-radius: 1rem;
    align-items:baseline;
    margin-top: 10%;
    justify-content: center;
    padding-top: 0;
}