.viewStudent{
    padding:1rem;
}
.viewStudentheader{
    padding:2rem;
}
.viewStudentheader h2{
    font-size: 30px;
}
.viewStudentheader Button{
    margin-right: 1rem;
}
.spinner{
width:15px;
height:15px;

border:2px solid white;

border-top:2px solid transparent;

border-radius:50%;

display:inline-block;

margin-left:10px;

animation:spin 1s linear infinite;
}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}
